@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
  }
}
html {
  background-color: #e0b8e8;
}
#header-img {
  width: 70px;
  height: auto;
} 
#nav-bar {
  display: flex;
  border-color: black;
  border-width: .25em;  
  border-style: double;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
}
#navegation {
  display: flex;
  flex-wrap: wrap;
  border-color: black;
  border-width: .25em;  
  border-style: double;
  list-style: none;
  justify-content: space-between;
  width: 25%;
  margin-right: 25px;
}
#nav {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
  margin-left: 10px;
}
#brand {
  font-size: 1.65em;
  padding: 5px auto;
  font-family: Bradley Hand, cursive;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #8e33a1;
}
form {
  border-color: black;
  border-width: .25em;  
  border-style: double;
  text-align: center;
  margin: 80px auto;
}
input {
  display: block;
  margin: 4px auto;
}
#About_Us {
  border-color: black;
  border-width: .25em;  
  border-style: double;
  max-width:fit-content;
  margin: auto;
  max-height: fit-content;
}
.icon {
  border-color: black;
  border-width: .25em;  
  border-style: double;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.desc {
  border-color: black;
  border-width: .25em;  
  border-style: double;
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}
.name {
  border-color: black;
  border-width: .25em;  
  border-style: double;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}
.grid {
  display: flex;
  justify-content: flex-start;
}
#Video {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  border-color: black;
  border-width: .25em;  
  border-style: double;
  height: 250px;
}
#video {
  max-width: 450px;
  width: 100%;
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
#Pictures {
  display: flex;
  border-color: black;
  border-width: .25em;  
  border-style: double;
  justify-content: space-evenly;
  align-items: center;
}
#Tiger {
  display: flex;
  border-color: black;
  border-width: .25em;  
  border-style: double;
}
.content1 {
  cursor: pointer;
  width: 200px;
  height:200px;
}
.Card-front1, .Card-back1{
  display: flex;
  width: 200px;
  height:200px;
  overflow:hidden;
  backface-visibility:hidden;
  position:absolute;
  transition: transform .5s linear;
  border-color: red;
  border-width: .25em;  
  border-style: double;
  justify-content: center;
  align-items: center;
}
.content1:hover > .Card-front1{
  transform: perspective(600px) rotateY(-180deg);
}
.content1:hover > .Card-back1{
  transform: perspective(600px) rotateY(0deg);
}
.Card-back1{
  background:rgb(151, 133, 211);
  transform:rotateY(180deg);
}
#Lily {
  display: flex;
  border-color: black;
  border-width: .25em;  
  border-style: double;
}
.content2 {
  cursor: pointer;
  width: 200px;
  height:200px;
}
.Card-front2, .Card-back2{
  display: flex;
  width: 200px;
  height:200px;
  overflow:hidden;
  backface-visibility:hidden;
  position:absolute;
  transition: transform .5s linear;
  border-color: red;
  border-width: .25em;  
  border-style: double;
  justify-content: center;
  align-items: center;
}
.content2:hover > .Card-front2{
  transform: perspective(600px) rotateY(-180deg);
}
.content2:hover > .Card-back2{
  transform: perspective(600px) rotateY(0deg);
}
.Card-back2{
  background:rgb(151, 133, 211);
  transform:rotateY(180deg);
}
#Cassie {
  display: flex;
  border-color: black;
  border-width: .25em;  
  border-style: double;
}
.content3 {
  cursor: pointer;
  width: 200px;
  height:200px;
}
.Card-front3, .Card-back3{
  display: flex;
  width: 200px;
  height:200px;
  overflow:hidden;
  backface-visibility:hidden;
  position:absolute;
  transition: transform .5s linear;
  border-color: red;
  border-width: .25em;  
  border-style: double;
  justify-content: center;
  align-items: center;
}
.content3:hover > .Card-front3{
  transform: perspective(600px) rotateY(-180deg);
}
.content3:hover > .Card-back3{
  transform: perspective(600px) rotateY(0deg);
}
.Card-back3{
  background:rgb(151, 133, 211);
  transform:rotateY(180deg);
}
footer {
  border-color: red;
  border-width: .25em;  
  border-style: double;
  margin: 10% 20% 0 20%;
}
footer > ul {
  border-color: red;
  border-width: .25em;  
  border-style: double;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
footer > div {
  border-color: red;
  border-width: .25em;  
  border-style: double;
  display: flex;
  justify-content: space-evenly;
}