@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
  }
}
#header-img {
  width: 30px;
  border-color: black;
  border-width: .25em;  
  border-style: double;
} 
#nav-bar {
  display: flex;
  border-color: black;
  border-width: .25em;  
  border-style: double;
  width: 100%;
}
#navegation {
  display: flex;
  border-color: black;
  border-width: .25em;  
  border-style: double;
  list-style: none;
}