@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
  }
}
#header-img {
    width: 30px;
}
#nav-bar {
  display: flex;
  flex-direction: row;
}
#navegation {
  justify-content: flex-end;
  flex-wrap: nowrap;
}